extends layout

block content
    h1=title
    if model_list.length
        ul
            each model in model_list
                li
                    a(href=`/catalog/model/${model._id}`)
                        strong Model Name: 
                        | #{model.modelname}
    else
        p No models found.
