extends layout

block content
    h1=title
    if model_detail.length
        each car in model_detail
            strong #{car.make} #{car.model.modelname}
            br
            | #{car.model.summary}

    else
        p No models found.
