extends layout

block content
    h1=title 
    if vehicle_type_list.length
        ul 
            each vehicle in vehicle_type_list
                li 
                    a(href=`/catalog/vehicletype/${vehicle.id}`) #{vehicle.type}
    else 
        p No vehicle types found.