extends layout

block content
    h1= title

    if type
        h2 Vehicle Type: #{type.type}

    if vehicles_in_type.length > 0
        h2 Vehicles in Type
        ul
            each vehicle in vehicles_in_type
                li
                    #{vehicle.vehicle_type}

    else
        p No vehicles found.

